
html, body{
    margin:0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #6699ff;
}

.players{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1%;
    min-height: 125px;
}

.player{
    height: 105px;
    width: 140px;
    background-image: url(../images/player.png);
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}

.player .pseudo{
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    color: #bfbfbf;
    font-size: 1.6em;
    overflow: hidden;
}

.player.active{background-position: center;}

.player.gagnant{background-position: bottom;}

.player.active .pseudo{color: #fff;}

.player.gagnant .pseudo{color: #fff;}

.instruction{
    color: #FFF;
    text-align: center;
    font-size: 2em;
    font-family: Verdana, Ariel, sans-serif;
}

.howto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.howto .picture{
    height: 33%;
    width: 25%;
    max-width: 250px;
}

.howto .picture img{
    width: 90%;
}

.howto .qrcode{
    max-width: 350px;
    width: 33%;
    height: 33%;
}

.howto .qrcode .qrcode-img{
    width: 90%;
    background-color: #fff;
}

.question-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.question{
    height: 29%;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: Verdana, Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    padding : 0 10px;
}

.reponses{
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    padding: 0 0 2em 2em;
}

.canvas-wrapper {
    width: 6em;
    height: 6em;
    position: relative;
}

.timelaps-wheel{
    background-color: white;
    width: 100%;
    height:100%;
    position:absolute;
    border-radius: 50px;
}

#timelaps{position: absolute;}

.badge{
    display:inline-block;
    min-width:10px;
    padding:3px 7px;
    font-size:12px;
    font-weight:bold;
    color:#fff;
    line-height:1;
    vertical-align:baseline;
    white-space:nowrap;
    text-align:center;
    background-color:#777;
    border-radius:10px
}

.badge-display{
    float: right;
    font-size: 24px;
    padding: 5px 10px;
    margin-top: -7px;
    margin-right: -37px;
}

.scoring{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center; 
}

.removed {
    display: inline-block;
    color: #fff;
}
    
.removed-leave {
    -webkit-animation: disapear 1s;
    -webkit-animation-fill-mode: backwards; 
    animation: disapear 1s;
    animation-fill-mode: backwards;
    
}

@-webkit-keyframes disapear{
    50% {
        color:red;
    }
    100% {
        color:red;
    }    
}

@keyframes disapear{
    50% {
        color:red;
    }
    100% {
        color:red;
    }    
}

.removed-enter {
    -webkit-animation: apear 1s;
    -webkit-animation-fill-mode: backwards; 
    animation: apear 1s;
    animation-fill-mode: backwards;
}

@-webkit-keyframes apear{
    10% {
        color:red;
    }
    80% {
        color:red;
    }    
}

@keyframes apear{
    10% {
        color:red;
    }
    80% {
        color:red;
    }    
}

.reponse-square{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 1em;
    vertical-align: middle;
}

.square1{background-color: #69B854;}

.square2{background-color: #6AC0E0;}

.square3{background-color: #EBAD41;}

.square4{background-color: #D1534C;}

.reponse{
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.4em;
    display: inline-flex;
    vertical-align: middle;
}

.score{
    padding: 18%;
    font-size: 30px;
    text-align:center;
}

.texteGris{
    color:grey;
}
/*
.removed-leave {
    -webkit-animation: disapear 1s;
    -webkit-animation-fill-mode: forwards; 
    animation: disapear 1s;
    animation-fill-mode: forwards;
    
}

@-webkit-keyframes disapear{
    50% {
        -webkit-transform: translateX(-5%);
        transform: translateX(-5%);
    }
    100% {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }    
}

@keyframes disapear{
    50% {
        -webkit-transform: translateX(-5%);
        transform: translateX(-5%);
    }
    100% {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }    
}

.removed-enter {
    -webkit-animation: apear 1s;
    -webkit-animation-fill-mode: forwards; 
    animation: apear 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes apear{
    10% {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }
    80% {
        -webkit-transform: translateX(-5%);
        transform: translateX(-5%); 
    }    
}

@keyframes apear{
    10% {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }
    80% {
        -webkit-transform: translateX(-5%);
        transform: translateX(-5%); 
    }    
}*/