* {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input,textarea {
    -webkit-touch-callout: default !important;
    -webkit-user-select: text !important;
}

html, body {
    margin: 0;
    height: 100%;    
    font-family: sans-serif;
    text-align:center;
}


#content{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #6699ff;
    
    .titrePage{
        color: white;
        font-size: 16px;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }
    
    .action-bar {
        position: fixed;
        width: 100%;
        bottom: 0px;
        margin: 15px 0;
        
        button {
            font-size: 20px;
            width: 80%;
            border: none;
            height: 50px;
            margin-top: 20px;
            background-color: #8BB600;
            color: #fff;
        }
        
        button:active {
            opacity: .8;
        }
    
    }
    
    h4{
        color: white;
    }
    
    .scene{
        font-size: 25px;
        /*perspective: 600px;*/
        
        .flip, .flip > div {
          width: inherit;
          height: inherit;
          transition: transform 1s;
        }
        
        .flip > div{
          position: absolute;
          backface-visibility: hidden;
          width:100%;
        }
        
        
        .flip{
          /*transform-style: preserve-3d;*/
          
            table {
                width:100%;
                
                td {
                   width:50%; 
                }
                
                td:active {
                   opacity: .8; 
                }
            }
                
            .avant{
                  transform: perspective(600px) rotateX(0deg);
            }
            
            .arriere{
                  transform: perspective(600px) rotateX(180deg);
            }
            
            .afficherVerso{
                  transform: perspective(600px) rotateX(180deg);
            }
            
            .afficherRecto{
                  transform: perspective(600px) rotateX(360deg);
            }
            
            select {
                width: 90%;
                padding: 15px 15px;
                margin: 0px;
                font-size: 24px;
            }
        }
    }
}